    .get-started-title {
      background: url('/public/images/HomePage images/GetStartedSection/dotted-world-map.jpg') no-repeat center center;
      background-blend-mode: overlay; /* Helps blend image */
      background-color: rgba(255, 255, 255, 0.97); /* Darker effect */
    }
  