/* Hide arrows on small screens (below 768px) */
@media (max-width: 767px) {
    .arrow-btn {
      display: none !important; /* Arrows will be hidden on small screens */
    }
  }

.text-section-div{
    width: inherit;
}

.text-div{
    width: 100%;
}
  
.Xchange{
    margin-left: -4px;
}

/*handling the slide section on small screens*/

@media (max-width: 375px) {
  .SlideSection{
    height: 300px ;
  }
  .image-container {
    position: relative; /* Ensures text can layer above */
  }

  .image-container img {
    opacity: 0.4;
    height: 300px ;
  }

  .text-section-div {
    position: absolute;
    top: 70%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensures text stays on top */
  }

  .slide-subtitle{
    font-weight: bold;
    color: rgb(81, 80, 80);
  }
    
}
